/* <system section="theme" selected="6653586347155924442"> */
@import url("https://blog.hatena.ne.jp/-/theme/6653586347155924442.css");
/* </system> */

/************************ タイトルヘッダー *************************/
#blog-title {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #fceb05 10%, #eaecc0 90%);
  background: -moz-linear-gradient(45deg, #fceb05 10%, #eaecc0 90%);
  background: -ms-linear-gradient(45deg, #fceb05 10%, #eaecc0 90%);
  background: -o-linear-gradient(45deg, #fceb05 10%, #eaecc0 90%);
  background: linear-gradient(45deg, #fceb05 10%, #eaecc0 90%);
}
#blog-title h1 a{
  color: #5e1f08;
  text-shadow: 0.1em 0.1em 0.1em silver;
}
#blog-title h2 {
  color: gray;
  text-align: right;
  font-size: 15px;
}
/************************ シェアボタン *************************/
.share-area {
  margin: 20px 0;
}
.share-button a {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 52px;
  padding: 4px 0;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  vertical-align: bottom;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.share-button a::before {
  position: absolute;
  top: 0;
  left: 0;
  border: 60px solid transparent;
  border-top: 60px solid rgba(255, 255, 255, 0.2);
  content: "";
  z-index: 2;
  transition: all 0.1s;
}
.share-button a:hover {
  opacity: 0.6;
  transition: all 0.4s;
}
.share-button a:hover::before {
  top: -100%;
  left: 100%;
  border-top-color: rgba(255, 255, 255, 1);
  transition: all 0.2s;
}
.share-area i,
.share-area .lg {
  font-size: 24px;
}
.share-button .hatena-bookmark-button .lg {
  font-size: 32px;
}
.share-button .hatena-bookmark-button {
  padding-top: 1px;
  padding-bottom: 6px;
}
.share-button .twitter-button {
  padding-top: 5px;
}
.share-button .facebook-button .lg  {
  font-size: 27px;
  margin-top: -1px;
}
.share-button .twitter-button .lg {
  font-size: 27px;
}
.share-area .small-text {
  font-size: 11px;
}
.share-area .fa-spin {
  font-size: 8px;
  color: #fff;
}
.share-button .hatena-bookmark-button {
  background: #00A4DE;
}
.share-button .facebook-button {
  background: #405BA7;
}
.share-button .twitter-button {
  background: #55ACEE;
}
.share-button .googleplus-button {
  background: #C53727;
}
.share-button .pocket-button {
  background: #EE4256;
}
/************************ コードブロック *************************/
.entry-content .code {
  background-color: #364549;
  color: #e3e3e3;
}
.entry-content .code .synComment {
  color: #4f80e5;
}
/************************ サイドバー *************************/
/* 記事一覧のカテゴリー */
#box2 .urllist-category-link {
  color: #000000;
  background-color: #f0f0f0;
  padding: 2px 4px;
}
